.Money-Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Main-Container{
    padding-top: 50px;
}
.Main-Container {
    display: flex;
    justify-content: center;
}

.Stock-Container {
    margin: 1%;
    border: 3px solid black;
    flex: 1;
    width: 25%;
}

.Graph-Container {
    width: 75%;
    display: flex;
    justify-content: center;
}
.Card{
    display:flex;
    background-color: gainsboro;
    border-radius: 5px;
    margin: 1px;
}
.Stock-Info{
    padding-left:5px;
}
.Stock-Graph{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Graph-Container {
    display: flex;
    justify-content: center;
    align-items: center; /* Align items to the top vertically */
  }
  
  .Graph-Holder {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  

/* Add any additional styling as needed */
