.Stock-Search-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
  }

.Transaction-Container {
  display: flex;
  margin: 2%;
}
  
  .Stock-Search {
    margin: 3%;
  }
  
  .Stock-List {
 
    /* Add styles for the StockList component */
  }
  
  .Checkout {
    /* Add styles for the Checkout component */
    width: 50%;
  }
  